<div class="sidebar">
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <!-- <li class="nav-item principal">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
          >
            <i class="nav-icon fas fa-home"></i>
            <p>Inicio</p>
          </a>
        </li> -->
      <li class="nav-item principal">
        <a routerLink="clientes" routerLinkActive="active" class="nav-link">
          <i class="nav-icon fas fa-users"></i>
          <p>Clientes</p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
